<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Movie Recommendation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
    <!-- Place favicon.ico in the root directory -->
    <link href="https://fonts.googleapis.com/css?family=Ek+Mukta" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/typeahead.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
</head>
<body>
    <div id="lightbox">
        <img id="backdrop" src="https://image.tmdb.org/t/p/original/5XPPB44RQGfkBrbJxmtdndKz05n.jpg">
        <div id="gradient">
        </div>
            
        <div id="infoContainer">
            <h1 id="lightboxTitle"></h1>
            <h2 id="lightboxDescription"></h2>
            <h4 id="lightboxDirector"></h4>
            <h4 id="lightboxActors"></h4>
            <div class="auto-resizable-iframe">
                <div>
                    <iframe frameborder="0" id="traileriframe" src="" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        
        <img id="closeLightbox" src="{{ url_for('static',filename='close.png') }}">

    </div>
    <!--https://www.youtube.com/embed/LY19rHKAaAg-->
    <img id="iconImage" src="{{ url_for('static',filename='icon.png') }}">

    <div id="headerDiv">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
            </div>
            <div class="col-lg-2">

            </div>
            <div class="col-lg-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8">
            <h1>Recommend &amp; Chill</h1>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                  <input type="text"  class="form-control typeahead" id="searchInput" placeholder="Search for a movie...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="searchButton">Go!</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-3">
        </div>
        </div>
    </div>
    </div>

    <div id="topMovies" class="fluid-container">
    </div>
    <div id="resultsContainer" class="container">
    </div>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
<script src="{{ url_for('static',filename='js/typeahead.js') }}"></script>
<script src="{{ url_for('static',filename='js/main.js') }}"></script>

</body>
</html>
